.commentItem {
  display: flex;
  gap: 16px;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .textZone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;

    .textZoneHeader {
      display: flex;
      align-items: center;
      gap: 8px;

      .nickname {
        color: $text-primary-color;
        @include heading-h6;
      }

      .createdAt {
        color: $text-secondary-color;
        @include body-lg-regular;
      }
    }

    .textZoneBody {
      @include body-md-regular;
      color: $text-primary-color;
    }

    .textZoneFooter {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;
    }
  }
}
