.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.categoryDropDown {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.postBodySection {
  display: flex;
  flex-direction: column;
}
