.postForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.category {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 1px;
  justify-content: flex-end;
}
