.postForm {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 60px;

  .category {
    width: 236px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  margin-top: 36px;
  gap: 8px;
  justify-content: flex-end;
}
