.checkboxContainer {
  [type='checkbox'] {
    // 체크되기 전 체크박스 스타일
    width: 16px;
    height: 16px;
    appearance: none; // 원래 제공되는 체크박스 없애기
    border-radius: 1px;
    background-color: white;
    outline: 2px solid $border-interactive-secondary-color;
    cursor: pointer;
    &:hover {
      border: none;
      outline: 2px solid $border-interactive-secondary-hover-color;
    }
    &.error {
      background-color: white;
      outline: 2px solid $text-danger-color;

      &:checked {
        background-color: white !important;
        outline: 2px solid $text-danger-color !important;
        outline-offset: 0px !important;
      }
    }
    &.disable {
      background-color: $background-disabled-color;
      outline: 2px solid $border-interactive-secondary-color;
      &:checked {
        outline: 2px solid $border-interactive-secondary-color;
        background-color: $background-disabled-color;
        &:hover {
          outline: 2px solid $border-interactive-secondary-color;
        }

        &:hover {
          background-color: $background-disabled-color;
        }
      }
      &:hover {
        border: none;
        background-color: $background-disabled-color;
      }
    }
    // 체크되기 전 체크박스 앞쪽에 새 컨텐츠를 추가
    &::before {
      content: '';
      color: transparent;
      display: block;
      width: inherit; // 부모 속성 그대로 받기
      height: inherit; // 부모 속성 그대로 받기
      border-radius: inherit; // 부모 속성 그대로 받기
      border-color: inherit;
      background-color: transparent;
      background-size: contain; // 지정한 요소 안에 배경 이미지가 다 들어오도록 이미지를 확대/축소하기
      // box-shadow: inset 0 0 0 1px #ccd3d8;
      // 비활성 상태
    }
    &.error:checked::before {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5892 2.41076C10.9147 2.7362 10.9147 3.26384 10.5892 3.58928L5.08925 9.08928C4.76381 9.41471 4.23617 9.41471 3.91073 9.08928L1.41073 6.58928C1.0853 6.26384 1.0853 5.7362 1.41073 5.41076C1.73617 5.08533 2.26381 5.08533 2.58925 5.41076L4.49999 7.32151L6.95536 4.86614L9.41073 2.41076C9.73617 2.08533 10.2638 2.08533 10.5892 2.41076Z' fill='%23DC2626'/%3E%3C/svg%3E%0A") !important;
    }

    // disable 상태에서 체크된 경우
    &.disable:checked::before {
      background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5892 2.41076C10.9147 2.7362 10.9147 3.26384 10.5892 3.58928L5.08925 9.08928C4.76381 9.41471 4.23617 9.41471 3.91073 9.08928L1.41073 6.58928C1.0853 6.26384 1.0853 5.7362 1.41073 5.41076C1.73617 5.08533 2.26381 5.08533 2.58925 5.41076L4.49999 7.32151L6.95536 4.86614L9.41073 2.41076C9.73617 2.08533 10.2638 2.08533 10.5892 2.41076Z' fill='%236B7280'/%3E%3C/svg%3E%0A") !important;
    }

    &:checked {
      &:focus {
        outline: 1px solid $border-focus-ring-color;
        outline-offset: 2px;
        border-radius: 1px;
      }
      outline: 1px solid $background-interactive-primary-color;
      background-color: $background-interactive-primary-color;
    }

    &:checked:hover {
      background-color: $background-interactive-primary-hover-color;
      outline: 1px solid $background-interactive-primary-hover-color;
    }

    // 체크된 체크박스 앞쪽에 체크이미지 추가
    &:checked::before {
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5892 2.41076C10.9147 2.7362 10.9147 3.26384 10.5892 3.58928L5.08925 9.08928C4.76381 9.41471 4.23617 9.41471 3.91073 9.08928L1.41073 6.58928C1.0853 6.26384 1.0853 5.7362 1.41073 5.41076C1.73617 5.08533 2.26381 5.08533 2.58925 5.41076L4.49999 7.32151L6.95536 4.86614L9.41073 2.41076C9.73617 2.08533 10.2638 2.08533 10.5892 2.41076Z' fill='white'/%3E%3C/svg%3E ");
    }
  }

  &:hover {
    border-color: $border-interactive-secondary-hover-color;
  }
}
