.skeleton {
  height: 1.5rem;
  border-radius: 1rem;
  display: inline-block;
  background: white;
}

.skeleton.visible {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  100% {
    background-position: -100% 0;
  }
}
