.postListContainer {
  margin: 0 auto;
  margin-top: 36px;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .postItem:first-child {
    border-top: 1px solid $border-secondary-color;
  }

  .postItem {
    display: block;
    width: 100%;
  }
}

.noPostMessage {
  @include heading-h5;
  color: $text-disabled-color;
  text-align: center;
  margin: 128px 0;
}
