.container {
  margin: 0 auto;
  margin-top: 15px;
  max-width: 920px;
}

.postList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li:first-child {
    border-top: 1px solid $border-secondary-color;
  }

  li {
    width: 100%;
  }
}

.noPostMessage {
  @include heading-h5;
  color: $text-disabled-color;
  text-align: center;
  margin: 128px 0;
}
