.button {
  min-width: 109px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid white;
  &:focus:not(:active):not(:hover) {
    outline: 1.5px solid white;
    box-shadow: 0px 0px 0px 3px $border-focus-ring-color;
  }
}

.filled {
  background-color: $background-interactive-primary-color;
  color: $text-interactive-inverse-color;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  .icon {
    color: $icon-interactive-inverse-color;
  }
  &:hover {
    background-color: $background-interactive-primary-hover-color;
  }
  &:active {
    background-color: $background-interactive-primary-press-color;
  }
  &:disabled {
    background-color: $background-disabled-color;
    color: $text-disabled-color;
    box-shadow: none;
    .icon {
      color: $icon-disabled-color;
    }
  }
}

.outline {
  border: 1px solid $border-interactive-primary-color;
  background-color: $background-primary-color;
  color: $text-success-color;
  .icon {
    color: $icon-success-color;
  }
  &:hover {
    border-color: $border-interactive-primary-hover-color;
    background-color: $background-interactive-secondary-hover-color;
    color: $text-interactive-primary-hover-color;
    .icon {
      color: $icon-interactive-primary-hover-color;
    }
  }
  &:active {
    border-color: $background-interactive-primary-press-color;
    background-color: $background-interactive-secondary-press-color;
    color: $text-interactive-primary-press-color;
    .icon {
      color: $icon-interactive-primary-press-color;
    }
  }
  &:disabled {
    border-color: $border-disabled-color;
    background-color: $background-disabled-color;
    color: $text-disabled-color;
    .icon {
      color: $icon-disabled-color;
    }
  }
}

.transparent {
  background-color: $background-primary-color;
  color: $text-success-color;
  .icon {
    color: $icon-success-color;
  }
  &:hover {
    background-color: $background-interactive-secondary-hover-color;
    color: $text-interactive-primary-hover-color;
    .icon {
      color: $icon-interactive-primary-hover-color;
    }
  }
  &:active {
    background-color: $background-interactive-secondary-press-color;
    color: $text-interactive-primary-press-color;
    .icon {
      color: $icon-interactive-primary-press-color;
    }
  }
  &:disabled {
    background-color: $background-primary-color;
    color: $text-disabled-color;
    .icon {
      color: $icon-disabled-color;
    }
  }
  &:focus:not(:active) {
    color: $text-interactive-primary-color;
    .icon {
      color: $icon-interactive-primary-color;
    }
  }
}
