.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.radioWrapper {
  display: flex;
  gap: 5px;
  label {
    display: flex;
    input {
      margin: 0;
    }
    button {
      background-color: transparent;
    }
  }
}

.wrapper {
  display: flex;
  max-height: 100dvh;
  margin-top: 24px;
}
.scrollablePlaces {
  width: 360px;
  padding: 36px;
  overflow-y: auto;
}
.mapContainer {
  width: calc(1200px - 360px);
  height: 100dvh;
}
