.filterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 24px 36px;
  background-color: $background-secondary-color;
  margin: 36px 0;
}

// 키워드 검색 부분
.searchWrapper {
  background-color: $background-primary-color;
  .icon {
    path {
      fill: $icon-interactive-primary-color;
    }
  }
}

.DropDownWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

// 초기화, 검색 버튼
.buttonWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 30px 0;
}
