.filterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// 키워드 검색 부분
.searchWrapper {
  display: flex;
  gap: 5px;
  align-items: center;

  .textfield {
    flex: 1;
    path {
      fill: $icon-interactive-primary-color;
    }
  }

  .moreButton {
    font-size: 12px;
    padding: 8px 10px;
  }
}

.DropDownWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
}

// 초기화, 검색 버튼
.buttonWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 30px 0;
}
