.header {
  border-bottom: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.sortWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.radioWrapper {
  display: flex;
  gap: 5px;
  input[type='radio'],
  label {
    cursor: pointer;
  }
}
