.replyForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .replyInputBox {
    display: flex;
    gap: 16px;

    .replyUserProfileImage {
      width: 36px;
      height: 36px;
    }

    .replyInput {
      width: 100%;
      height: 36px;
    }
  }

  .buttonsBox {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    @include body-md-semibold;

    .cancel {
      padding: 8px 0px;
      color: $text-primary-color;
    }

    .write {
      padding: 8px 0px;
      color: $text-interactive-primary-color;
    }
  }
}
