.wrapper {
  display: inline-flex;
  gap: 2px;
  background-color: $background-secondary-color;
  padding: 4px;
  button {
    width: 40px;
    height: 25px;
    font-size: 10px;
    border-radius: 0;
    padding: 0;
  }
}
