.category {
  align-self: flex-start;
  // TODO 변수 네이밍 디자이너분 변경 요청
  background-color: $background-interactive-primary-hover-subtle-color;
  color: $text-interactive-primary-color;
  padding: 8px 12px;
  border-radius: 8px;
  @include body-sm-regular;
}
