.replyList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .replyItem {
    display: flex;
    gap: 16px;

    .avatar {
      width: 36px;
      height: 36px;
    }

    .textZone {
      .nickname {
        @include heading-h6;
        color: $text-primary-color;
      }

      .createdAt {
        margin-left: 8px;

        @include body-lg-regular;
        color: $text-secondary-color;
      }

      .content {
        margin-top: 8px;
        @include body-md-regular;
        color: $text-primary-color;
      }
    }
  }
}
