.container {
  display: flex;
  margin: 124px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 442px;
  //   border: 2px solid;
  //   border-color: aqua;
  @media (max-width: 768px) {
  }
}

.h2 {
  margin-bottom: 48px;
}

.inputId {
  margin-bottom: 24px;
}

.buttonContainer {
  margin-top: 36px;
  width: 100%;
  margin-bottom: 36px;
}

.signup {
  color: $text-disabled-color;
  font-weight: 200;
  display: flex;
}

.underline {
  text-decoration: underline;
  font-weight: 400;
  margin-left: 8px;
  color: $text-disabled-color;
}

.forgetText {
  margin-top: 8px;
  float: right;
  text-decoration: underline;
  color: $text-disabled-color;
  font-weight: 400;
}

.inputcontainer {
  width: 442px;
}
