.container {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  button {
    width: 36px;
    height: 36px;
    border: none;
    padding: 8px 8px;
    background-color: $background-primary-color;
    color: $text-primary-color;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover {
    background: $background-interactive-primary-hover-subtle-color;
    color: $text-primary-color;
  }

  button:disabled {
    color: $icon-disabled-color;
  }
}

button.activePage {
  border: 1px solid $border-interactive-primary-color;
  color: $text-interactive-primary-color;
  font-weight: 700;
}
