html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: $text-secondary-color;
  text-decoration: none;
}

input[type='text'] {
  padding: 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

li {
  list-style: none;
}
