html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  color: $text-secondary-color;
  text-decoration: none;
}

input[type='text'] {
  padding: 0;
}

.main {
  padding-top: 67px;
  max-width: 1200px;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}
