@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

// 그림자 믹스인
@mixin shadow1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin shadow2 {
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

@mixin shadow3 {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}

// 타이포그래피 믹스인
@mixin heading-h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;

  @include mobile {
    font-size: 40px;
  }
}

@mixin heading-h2 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;

  @include mobile {
    font-size: 32px;
  }
}

@mixin heading-h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;

  @include mobile {
    font-size: 24px;
  }
}

@mixin heading-h4 {
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;

  @include mobile {
    font-size: 20px;
  }
}

@mixin heading-h5 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}

@mixin heading-h6 {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
}

@mixin body-sm-regular {
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
}

@mixin body-sm-medium {
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
}

@mixin body-sm-semibold {
  font-size: 12px;
  line-height: 120%;
  font-weight: 600;
}

@mixin body-md-regular {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
}

@mixin body-md-medium {
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
}

@mixin body-md-semibold {
  font-size: 14px;
  line-height: 120%;
  font-weight: 600;
}

@mixin body-lg-regular {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

@mixin body-lg-medium {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}

@mixin body-lg-semibold {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}
