.container {
  display: flex;
  justify-content: end;
  gap: 5px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 178, 255);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
