.searchFilterContainer {
  background-color: $background-secondary-color;
  padding: 24px 36px;
  margin: 0 auto;
  margin-top: 36px;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
