.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 920px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  border: 1px solid lightgray;
}

.postNew {
  background-color: $background-interactive-primary-color;
  color: $text-interactive-inverse-color;
  padding: 16px 24px;
  border-radius: 12px;
}
