.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 680px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  border: 1px solid lightgray;
}

.postNew {
  background-color: green;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
