.postItem {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  align-self: flex-start;
  background-color: green;
  color: white;
  padding: 6px;
  border-radius: 8px;
}

.postTitle {
  font-size: 1.2rem;
}

.postMetaData {
  display: flex;
  justify-content: space-between;
}

.leftZone {
  display: flex;
  gap: 0.5rem;
}

.rightZone {
  display: flex;
  gap: 0.5rem;

  .thumbsUp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  .hits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  .commentCount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}
