.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: inherit;
  .icon {
    font-size: inherit;
  }
}

.filled {
  background-color: $background-interactive-primary-color;
  color: $text-interactive-inverse-color;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  .icon {
    path {
      stroke: $icon-interactive-inverse-color;
    }
  }
  &:hover {
    background-color: $background-interactive-primary-hover-color;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &:active {
    background-color: $background-interactive-primary-press-color;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  }
  &:focus {
    outline: 1px solid $border-focus-color;
    outline-offset: 2px;
  }
  &:disabled {
    background-color: $background-disabled-color;
    color: $text-disabled-color;
    box-shadow: none;
    .icon {
      path {
        stroke: $icon-disabled-color;
      }
    }
  }
}

.outline {
  border: 1px solid $border-interactive-primary-color;
  background-color: $background-primary-color;
  color: $text-success-color;
  .icon {
    path {
      stroke: $icon-success-color;
    }
  }
  &:hover {
    border-color: $border-interactive-primary-hover-color;
    background-color: $background-interactive-secondary-hover-color;
    color: $text-interactive-primary-hover-color;
    .icon {
      path {
        stroke: $icon-interactive-primary-hover-color;
      }
    }
  }
  &:active {
    border-color: $background-interactive-primary-press-color;
    background-color: $background-interactive-secondary-press-color;
    color: $text-interactive-primary-press-color;
    .icon {
      path {
        stroke: $icon-interactive-primary-press-color;
      }
    }
  }
  &:focus {
    outline: 1px solid $border-focus-color;
    outline-offset: 2px;
  }
  &:disabled {
    border-color: $border-disabled-color;
    background-color: $background-primary-color;
    color: $text-disabled-color;
    .icon {
      path {
        stroke: $icon-disabled-color;
      }
    }
  }
}

.transparent {
  padding: 8px 0;
  text-wrap: nowrap;
  background-color: $background-primary-color;
  color: $text-success-color;
  .icon {
    path {
      stroke: $icon-success-color;
    }
  }
  &:hover {
    background-color: $background-primary-color;
    color: $text-interactive-primary-hover-color;
    .icon {
      path {
        stroke: $icon-interactive-primary-hover-color;
      }
    }
  }
  &:active {
    background-color: $background-primary-color;
    color: $text-interactive-primary-press-color;
    .icon {
      path {
        stroke: $icon-interactive-primary-press-color;
      }
    }
  }
  &:focus {
    outline: 1px solid $border-focus-color;
    outline-offset: 2px;
    .icon {
      path {
        stroke: $icon-interactive-primary-press-color;
      }
    }
  }
  &:disabled {
    background-color: $background-primary-color;
    color: $text-disabled-color;
    .icon {
      path {
        stroke: $icon-disabled-color;
      }
    }
  }
}
