.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  .title {
    @include heading-h2;
  }

  .description {
    @include body-lg-regular;
  }
}
