.thumbsUpBox {
  @include body-lg-semibold;
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text-secondary-color;

  .button {
    background-color: $background-primary-color;
    padding: 0;

    svg path {
      stroke: $icon-secondary-color;
    }

    &:hover {
      svg path {
        stroke: $icon-interactive-primary-color;
      }
    }
  }
}
