.divider {
  display: flex;
  border: none;
  border-bottom: 2px solid;
  border-color: $color-neutral-400;
}

.textdivider {
  display: flex;
  border: none;
  width: 100%;
  border-bottom: 2px solid;
  border-color: $color-neutral-400;
}

.container {
  margin: 16px 0px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  width: 80px;
  text-align: center;
  color: $text-disabled-color;
  margin-right: 5px;
  margin-left: 5px;
}
