.divider {
  margin: 20px 0px;
  border: none;
  border-bottom: 2px solid;
  border-color: $color-neutral-400;
}

.textdivider {
  border: none;
  width: 100%;
  margin: 0px 10px 0px 10px;
  border-bottom: 2px solid;
  border-color: $color-neutral-400;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
