.toast {
  height: 44px;
  max-width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 12px;

  .logo {
    width: 12px; /* 로고의 크기를 조정하세요 */
    height: auto; /* 로고의 크기를 조정하세요 */
  }

  .button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
  }

  &.default {
    background-color: $background-interactive-primary-color;
    color: $text-interactive-inverse-color;
  }
  &.error {
    background-color: $background-danger-color;
    color: $text-interactive-inverse-color;
  }
}
