.header {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-primary-color;

  .navMenu {
    display: flex;
    gap: 2rem;
  }

  .navMenuLink {
    display: block;
    padding: 1.5rem 0.5rem;

    &:hover {
      // inner border
      box-shadow: inset 0 -2px 0 $border-interactive-secondary-hover-color;
    }

    &.selected {
      // inner border
      box-shadow: inset 0 -2px 0 $border-interactive-primary-color;
      color: $text-interactive-selected-color;
    }
  }
}
