.header {
  @include shadow2;
  @include body-lg-medium;
  position: fixed;
  width: 100%;
  z-index: $z-index-fixed;
  background-color: $background-primary-color;

  .link {
    display: block;
    padding: 24px 8px;

    &:hover {
      // inner border
      box-shadow: inset 0 -2px 0 $border-interactive-secondary-hover-color;
    }

    &.selected {
      // inner border
      box-shadow: inset 0 -2px 0 $border-interactive-primary-color;
      color: $text-interactive-selected-color;
    }
  }

  .navigation {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menuList {
      display: flex;
      gap: 36px;
    }

    .userMenu {
      display: flex;
      gap: 8px;
    }
  }
}

.loginUser {
  cursor: pointer;
}
