.header {
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

  a {
    color: $text-secondary-color;
  }

  a:hover {
    color: $text-interactive-primary-color;
  }
}

.navigation {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-primary-color;
  color: $text-secondary-color;
  padding: 1rem;

  ul {
    display: flex;
    gap: 2rem;
  }
}
