.input {
  width: 442px;
  height: 24px;
  border: 2px solid $border-secondary-color;
  border-radius: 4px;
  &:focus {
    outline: none;
    border-color: $border-focus-ring-color;
    border-radius: 8px;
  }
  &:hover {
    border-color: $border-interactive-secondary-hover-color;
  }
  &:disabled {
    background-color: $background-disabled-color;
    border-color: $border-disabled-color;
  }
}
