.container {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(248, 248, 248);
}

// topButtons (조회수, 추천수, 공유아이콘)
.topButtons {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.countWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}
.shareIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 178, 255);
  border-radius: 50%;
  padding: 5px;
}

// contentsWrapper (imageWrapper, infoWrapper)
.contentsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.imageWrapper {
  position: relative;
  flex-basis: 50%;
  aspect-ratio: 1 / 1;
  image {
    object-fit: cover;
  }
  p.simpleLocation {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 4px 6px;
    border-radius: 20px;
    font-size: 14px;
    background-color: $background-primary-color;
  }
}
.infoWrapper {
  position: relative;
  flex-basis: 50%;
  padding-left: 10px;
  strong.title {
    font-weight: 600;
    font-size: 18px;
  }
  p.fullLocation {
    margin: 7px 0;
  }
  p.cost {
    display: inline-block;
    background-color: $background-success-subtle-color;
    padding: 4px 6px;
    border-radius: 20px;
    font-size: 14px;
  }
  p.operation {
    position: absolute;
    bottom: 10px;
    padding: 4px 6px;
    border-radius: 20px;
    font-size: 14px;
    background-color: $background-success-color;
  }
}
