.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .metaData {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .titleBox {
    display: flex;
    align-items: center;
    gap: 8px;

    .title {
      @include heading-h4;
    }
  }

  .content {
  }

  .utilButtons {
    display: flex;
    justify-content: flex-end;
  }
}
