.postMutationBox {
  display: flex;
  gap: 16px;
  align-self: flex-end;

  .edit,
  .delete {
    padding: 8px 0;
    @include body-md-semibold;
  }

  .edit {
    color: $text-interactive-primary-color;
  }

  .delete {
    color: $text-danger-color;
  }
}
