.filterablePosts {
  max-width: 920px;
  margin: 0 auto;

  .filters {
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .pagination {
    margin: 36px auto;
  }
}
