.login {
  margin-top: 36px;
  color: $text-disabled-color;
  font-weight: 200;
  display: flex;
}

.underline {
  text-decoration: underline;
  font-weight: 400;
  margin-left: 8px;
  color: $text-disabled-color;
}

.container {
  display: flex;
  margin: 124px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 442px;
  @media (max-width: 768px) {
  }
}
