.tableTitle {
  margin: 65px 0 20px;
}
.table {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  &:last-child {
    border-bottom: none;
  }
}
.listTitle {
  min-width: 240px;
  padding: 12px 0 12px 65px;
  font-size: 18px;
  font-weight: 600;
}
.listContent {
  padding: 14px 17px;
}
