.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid;
}
.categoryWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}
.categoryTitle {
  font-size: 20px;
  min-width: 100px;
  font-weight: 700;
}
.listWrapper {
  display: inline;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.DropDownWrapper {
  display: flex;
  gap: 20px;
}
.buttonWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 30px 0;
}
