.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.radioWrapper {
  display: flex;
  gap: 16px;

  label {
    display: flex;
    gap: 8px;
    input[type='radio']:checked {
      appearance: none;
      width: 20px;
      box-shadow: 0 0 0 1.4px $border-interactive-primary-color;
      border-radius: 50%;
      border: 3px solid white;
      background-color: $border-interactive-primary-color;
      cursor: pointer;
    }
    input[type='radio'] {
      appearance: none;
      width: 20px;
      box-shadow: 0 0 0 1.4px $border-interactive-primary-color;
      border-radius: 50%;
    }
    button {
      font-size: 16px; // todo: 수정 필요
      color: $text-primary-color;
    }
  }
}
